body {
  margin: 0;
  background-image: url("images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: white;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.task-area {
  border: 1px solid lightgray;
}

.task-tabs {
  position: relative;
  display: flex;
  border-bottom: 1px solid lightgray;
}

.task-tabs div {
  padding: 1rem;
}

#under-line {
  height: 4px;
  background-color: coral;
  position: absolute;
  width: 60px;
  left: 0px;
  top: 52px;
  padding: 0px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.task-done {
  text-decoration: line-through;
}
